# Foundations of Python

1.   Data Types & Data Structures
2.   Basic Operations
3.   Functions & Packages

## Agenda on Topic 1 Data Types & Data Structures:

1.   Check the version of installed Python
2.   Know the keywords of Python <br/>    2.1 Do not use keywords as variables, or function names, or module names
3.   Data Types <br>
  3.1 Numbers <br>
  3.2 Strings <br>
  3.3 Complex Numbers<br>
  3.4 <br>
4. Operations <br>
  4.1 Arithmetic <br>
  4.2 Assignment <br>
  4.3 Comparison <br>
  4.4 Logical <br>
  4.5 Bitwise <br>
  4.6 Identity <br>
  4.7 Membership <br>
5. Data Structures <br>
  5.1 Lists <br>
  5.2 Tuples <br>
  5.3 Dictionaries <br>
  5.4 Sets <br>

In [2]:
#Check the python version
!python --version

Python 3.8.8

In [3]:
# List of keywords are available from the keyword module
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Numeric Data Types
* Integers
* Real numbers

In [17]:
#Converts a real number (float) to an integer
print(int(66.6666666666))

#Converts an integer to a real number (float)
print(float(67))

# Check the data type using "type" function
## Results in integer data type
print(type(66))

## Results in a real number (float) data type
print(type(float(67)))

66
67.0
<class 'int'>
<class 'float'>

### Numbers and Arithmetic
  * "+" for addition
  * "-" for substraction
  * "*" multiplication
  * "/" division
  * "**" or pow() for exponentiation
  * "%" modulus to extract remainder
  * "//" floor division to extract quotient

In [4]:
# addition using "+"
3+7

10

In [5]:
# subtraction using "-"
9-7

2

In [6]:
# multiplication using "*"
7*8

56

In [7]:
# division using "/"
18/3

6.0

In [10]:
# integer division through double slash
# results in quotient
9//2

4

In [14]:
# modulus results in remainder
9%2
13%7

6

#### Using multiple arithmetic operators
$FV= (PV*(1+r/n)^{nt})$ <br>
where: <br>
* PV = present value of money (say 1000 rupees)
* FV = future value of money (to be calculated)
* r = interest rate (say 6.25%)
* n = number of compounding periods (semi-anually)
* t = number of years (5 years)

In [8]:
# Calculation of future value using ** for exponentiation
1000*(1+0.0625/2)**(2*5)

1360.3154027780997

In [9]:
# Calculation of future value using pow() for exponentiation
1000*pow((1+0.0625/2), 2*5)

1360.3154027780997

## Complex Numbers Data Types
* Python provides basic support to complex numbers. 
* Recommend to use Numpy module for operations on complex numbers
* Complex numbers represented using "j" or "J"
* Use a numeric value before j, so that Python recognises it as a complex data type
* In case using j or J is difficult to represent complex numbers, then use the function complex() to represent complex numbers 
* Use "real" to extract real numbers from complex numbers
* Use "imag" to extract imaginary part from complex numbers

In [27]:
# The below line of code throws an error as 'j' is not defined
type(j)

NameError: name 'j' is not defined

In [28]:
# now try this with a number attached to complex form 'j'
type(1j) #or
type (1-2j)

complex

In [29]:
1-2j # is same as
complex(1,-2)

(1-2j)

In [31]:
cnum = 1-2j
print(cnum.real)
print(cnum.imag)

1.0
-2.0

### Operations on complex numbers
* Addition
* Subtraction
* Multiplication
* Division

In [33]:
# Addition
1+2j+2-3j

(3-1j)

In [34]:
# Addition
complex(1+2j) + complex(2-3j)

(3-1j)

In [36]:
# Subtraction
1+2j-(2-3j)

(-1+5j)

In [ ]:
# Subtraction
complex(1+2j) - complex(2-3j)

In [39]:
# Multiplication
(1+2j)*(2-3j)

(8+1j)

In [38]:
# Multiplication
complex(1+2j) * complex(2-3j)

(8+1j)

In [45]:
# Division
(1+1j)/(2+4j)

(0.3-0.1j)

In [47]:
# Division
complex(1+1j) / complex(2+4j)

(0.3-0.1j)

In [48]:
# Absolute value of a complex number
abs(3+4j) # is equivalent to (3+4j)*(3-4j)

5.0

In [49]:
(3+4j)*(3-4j)

(25+0j)

## Strings Data Type
* Python handles strings with sophistication
* Single or doble quotes define a string
* Backslash \ is considered as an escape character for strings in Python

In [50]:
'Hello'
# the above line declares a string which is equivalent to declaration in the below line
"hello"

'hello'

In [51]:
"hello"

'hello'

In [52]:
'Insert "double quote" between two single quotes'

'Insert "double quote" between two single quotes'

In [54]:
"Insert \"double quote\" between two double quotes using an escape character"

'Insert "double quote" between two double quotes using an escape character'

In [56]:
# Use double quotes to inlcude single quote within a string
"How's it?"

"How's it?"

In [61]:
# Use escape character to inlcude single quote within a string
'How\'s it?'

"How's it?"

In [60]:
# Use the following format to include single quote as well as double quotes in a string.
# Use escape character for a single quote, and leave double quotes as such
'It\'s, "out!"'

'It\'s, "out!"'